<%= render 'books/list', book:@book %>

<div class="col-xs-9">
	<h2>Books</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Opinion</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% @book.each do |book| %>
			<tr>
			<td><% attachment_image_tag book_user, :profile_image, :fill, 10, 10, fallback: "no_image.jpg" %>
			</td>
			<td><%= link_to "#{book.title}", book_path(book.id) %>
			</td>
			<td><%= book.body %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
